<script setup lang="ts">
definePageMeta({
  layout: "luaapi",
  documentDriven: false
})
const nav = await getLuaSideNav()

</script>
<template>
  <ContentLayout :nav="nav">
    <h1>Lua Globals</h1>
    <p>
      TODO
    </p>
  </ContentLayout>
</template>