<script setup lang="ts">
import ProseCode from '~/components/content/ProseCode.vue'
import { getLuaModulePartials } from '~/composables/useLuaContent';

definePageMeta({
  layout: "luaapi",
  documentDriven: false
})
const modulePartials = await getLuaModulePartials()
const nav = await getLuaSideNav()

</script>
<template>
  <ContentLayout :nav="nav">
    <h1 id="api-overview">API Overview</h1>
    <p>
      This is a test <LuaTypeRefBadge module="base" /> and stuff
    </p>

    <h2 id="lua-modules"><strong>Lua Modules</strong></h2>
    <p>
      Scripting functionality is split across several modules. The
      <NuxtLink href="/lua/modules/base">base</NuxtLink>
      module is automatically included and its members are available in the global namespace.
      To use another module you'll need to `require` it as follows:
    </p>
    <ProseCode language="lua"><pre><code>local acclient = require("acclient")</code></pre></ProseCode>

    <div class="modules grid lg:grid-cols-2 grid-cols-1 gap-5">
      <div class="h-full"  v-for="module of modulePartials">
        <NuxtLink :to="`/lua/modules/${module.id}`" class="no-underline">
          <UCard class="h-full">
            <template #header>
              {{ module.name }}
            </template>
            <MDCRenderer v-if="module.summary" class="pt-2 text-sm" tag="div" :body="module.summary" :prose="true" />
          </UCard>
        </NuxtLink>
      </div>
    </div>
  </ContentLayout>
</template>