<script setup lang="ts">
import { getLuaClassPageData } from '~/composables/useLuaContent';

definePageMeta({
  layout: "luaapi",
  documentDriven: false
})

const moduleName = computed(() => paramToString(useRoute().params.module))
const className = computed(() => paramToString(useRoute().params.class))

const nav = await getLuaSideNav()
const { classType, toc } = await getLuaClassPageData(moduleName.value, className.value)
</script>
<template>
  <ContentLayout :toc="toc" :nav="nav">
    <div v-if="classType">
      <LuaClass :class-type="classType" />
    </div>
    <DocumentDrivenNotFound v-else />
  </ContentLayout>
</template>