<script setup lang="ts">
import { NavItem } from '@nuxt/content/dist/runtime/types';
import { NavItemWithParent } from 'nav';
import { RecycleScroller } from 'vue-virtual-scroller';
import { filterNavItems } from '~/composables/useNavSearch';

const props = defineProps({
  root: {
    type: Object as PropType<NavItem>,
    required: true
  },
  expanded: {
    type: Boolean,
    default: true
  },
  depth: {
    type: Number,
    default: 0
  }
})

const { sideNavOverlayShown } = useAppState()

const links = computed(() => props.root?.children || [])

function id(link: NavItem) {
  return `${link._path}:${link.title}:${link._id}:${link.key}`
}

const bodyNavClasses = computed(() => {
  const isOpen = sideNavOverlayShown.value
  const open = isOpen ? 'left-0' : 'left-[calc(100vw*-1)]'
  return `transition-all motion-reduce:transition-none md:z-10 z-50 md:h-auto h-screen md:relative md:left-0 fixed top-0 xl:block xl:relative md:block ${open}`
})

const handleSideMenuClick = () => {
  sideNavOverlayShown.value = !sideNavOverlayShown.value;
}

const showFilter = ref(false)
const filter = ref('')

let searchWorker: Worker | undefined = undefined
let searchResults: Ref<NavItem[]> = ref([])

onBeforeUnmount(() => {
  searchWorker?.terminate()
})

const fixLinks = (link: NavItemWithParent | NavItem): NavItemWithParent | NavItem => {
  return {
    id: link.id,
    key: link.key,
    _path: link.path,
    title: link.title,
    isGroup: link.isGroup,
    isActive: link.isActive,
    depth: link.depth,
    children: link.children?.map(c => fixLinks(c))
  }
}

watch(filter, async () => {
  if (!filter.value) {
    searchResults.value = []
  }
  else {
    const results = await filterNavItems(flatLinks.value.map(l => fixLinks(l)) as NavItemWithParent[], filter.value)
    if (results.filter == filter.value) {
      searchResults.value = results.links
    }
  }
})

const buildLinks = (link: NavItem, parent: NavItemWithParent | NavItem | null, links: NavItemWithParent[], navState: Ref<Record<string, boolean>>, depth = 0) => {
  const n = {
    title: link.title,
    _path: link._path,
    id: link.id,
    key: `${link._path}:${link.title}:${link._id}`,
    isGroup: link.children && link.children.length > 0,
    isActive: useRoute().path.includes(link._path),
    depth,
    children: link.children ? toRaw(link.children) : undefined
  } as NavItemWithParent
  links.push(n)
  if (filter.value || (n.isGroup && (useNavState().value[id(n)] === undefined ? n.isActive : useNavState().value[id(n)]))) {
    link.children?.forEach(child => {
      buildLinks(child, link, links, navState, depth + 1)
    })
  }
}

const flatLinks = computed(() => {
  const navState = useNavState()
  const route = useRoute()
  const linkResults: NavItemWithParent[] = []
  
  for (const link of links.value || []) {
    buildLinks(link, null, linkResults, navState)
  }

  return toRaw(linkResults)
})

const filteredLinks = computed(() => {
  return filter.value ? searchResults.value : flatLinks.value
})

const bodynav = ref(null)
onClickOutside(bodynav, (evt) => sideNavOverlayShown.value = false)

const handleGroupClick = (item: NavItemWithParent) => {
  useNavState().value[id(item)] = useNavState().value[id(item)] === undefined ? !item.isActive : !useNavState().value[id(item)]
}

</script>
<template>
  <div :class="`bg-zinc-100 dark:bg-[#1c1b22] border-r dark:border-gray-800 order-1 text-sm ${bodyNavClasses}`" ref="bodynav">
    <div class="w-[theme(sideNavWidth)] flex flex-col md:top-[calc(theme(headerHeight))] top-0 md:h-[calc(100dvh_-_theme(headerHeight)_-_1px)] h-[100dvh] p-2 md:overflow-y-auto overflow-y-hidden md:sticky relative">
      <div class="md:hidden block mb-2" @click="handleSideMenuClick()">
        <UButton icon="i-material-symbols-close-rounded" variant="outline" @click="showFilter=!showFilter" name="Show Nav Filter" />
      </div>
      <div class="flex items-center border-b border-gray-800 pb-2 mb-2">
        <span class="block text-lg font-bold grow">{{ root?.title }}</span>
      </div>
      <div class="flex items-center pb-2">
        <UInput v-model="filter" name="filter" placeholder="Filter nav..." size="xs" class="w-full" icon="i-heroicons-magnifying-glass-20-solid" :ui="{ icon: { trailing: { pointer: '' } } }">
          <template #trailing>
            <UButton
              v-show="filter !== ''"
              color="gray"
              variant="link"
              icon="i-heroicons-x-mark-20-solid"
              :padded="false"
              @click="filter = ''"
            />
          </template>
        </UInput>
      </div>
      <RecycleScroller
        id="side-nav"
        :prerender="40"
        class="scroller grow overflow-y-auto pb-10"
        :items="filteredLinks"
        :item-size="32"
        key-field="key"
        v-slot="{ item }"
      >
        <div :class="{
          'h-8 overflow-hidden flex items-center border-l-2 border-gray-800 pl-2': true,
          'font-bold': item.isGroup
        }" :style="{
          'margin-left': `${item.depth * 12}px`
        }">
          <div v-if="item.isGroup" @click="handleGroupClick(item)" class="group cursor-pointer flex items-center grow h-[32px]">
            <span class="inline-block grow">{{ item.title }}</span>
            <UIcon name="i-material-symbols-arrow-forward-ios-rounded" :class="{
              'toggle inline-block': true,
              'expanded': filter || useNavState().value[id(item)] === undefined ? item.isActive : useNavState().value[id(item)]
            }" />
          </div>
          <template v-else>
            <NuxtLink :to="item._path" no-prefetch @click="sideNavOverlayShown=false" class="flex grow h-[32px] items-center">{{ item.title }}</NuxtLink>
          </template>
        </div>
      </RecycleScroller>
    </div>
  </div>
</template>
<style scoped>
  .group {
    .expanded {
      @apply rotate-90;
    }
  }
</style>