<script setup lang="ts">
import { TocLink, NavItem } from '@nuxt/content/dist/runtime/types'

const props = defineProps({
  toc: {
    type: Array as PropType<TocLink[]>
  },
  nav: {
    type: Object as PropType<NavItem>,
    required: true
  }
})
const hasToc = computed(() => props.toc && props.toc.length > 0)

const { sideNavOverlayShown, tocOverlayShown, appNavOverlayShown } = useAppState()

const content = ref(null)

watch([sideNavOverlayShown, tocOverlayShown, appNavOverlayShown], () => {
  if (!sideNavOverlayShown.value && !tocOverlayShown.value && !appNavOverlayShown.value) {
    document.getElementsByTagName('body')[0].style.overflow = 'auto'
  }
  else {
    document.getElementsByTagName('body')[0].style.overflow = 'hidden'
  }
})
</script>

<template>
  <Toc v-if="hasToc && toc && toc.length > 0" :links="toc" />
  <div role="main" class="p-0 order-2 grow bg-zinc-50 dark:bg-zinc-900" @click="useState('side-menu-toggle', () => false).value=false">
    <div class="md:order-1 content">
      <div class="z-30 sticky md:top-[theme(headerHeight)] top-0 xl:hidden block border-t dark:border-gray-700 border-gray-300 font-semibold text-primary-600 dark:text-primary-400 backdrop-blur-md dark:backdrop-brightness-75 backdrop-brightness-95 backdrop-filter border-b">
        <div class="text-sm no-underline">
          <div class="h-[theme(headerTocHeight)] px-2 flex items-center">
            <a class="grow md:hidden flex items-center" @click.prevent="sideNavOverlayShown=!sideNavOverlayShown">
              <UIcon name="i-material-symbols-menu-open-rounded" />
              <span>{{ nav?.title }}</span>
            </a>
            <a class="grow xl:hidden md:flex hidden items-center" href="#">
              <UIcon name="i-material-symbols-arrow-upward-alt-rounded" />
              <span>Back to top</span>
            </a>
            <div v-if="hasToc" class="flex items-center" @click="tocOverlayShown=!tocOverlayShown">
              <span>On this page</span>
              <UIcon name="i-material-symbols-chevron-right-rounded" :class="{ 'rotate-90': tocOverlayShown }" />
            </div>
            <a v-else href="#" class="text-right xl:block md:hidden flex items-center">
              <UIcon name="i-material-symbols-arrow-upward-alt-rounded" />
              <span>Back to top</span>
            </a>
          </div>
        </div>
      </div>
      <div ref="content" :class="{'has-toc': hasToc, 'has-nav prose prose-gray dark:prose-invert prose-base p-4': true}">
        <slot></slot>
      </div>
    </div>
  </div>
</template>