<template>
  <div class="table-wrap relative">
    <div class="scroll-indicator sticky xl:top-[calc(theme(headerHeight))] md:top-[calc(theme(headerHeight)+theme(headerTocHeight))] top-[calc(theme(headerHeight))] z-30 h-0" :style="{ display: (showScrollIndicator ? 'block' : 'none')}">
      <UIcon name="i-fluent-phone-vertical-scroll-24-regular" class="absolute right-0 top-[-14px] bg-gray-400 h-7 w-7 rotate-90 fade-in-out" />
    </div>
    <div class="table-header transition-none sticky xl:top-[calc(theme(headerHeight))] md:top-[calc(theme(headerHeight)+theme(headerTocHeight))] top-[calc(theme(headerHeight))] flex dark:bg-gray-800 bg-gray-200 z-20 overflow-x-hidden" ref="header" style="scroll-behavior: auto;">
      <div v-if="modelValue" scope="col" :class="ui.checkbox.padding">
        <UCheckbox :checked="indeterminate || selected.length === rows.length" :indeterminate="indeterminate" aria-label="Select all" @change="onChange" />
      </div>

      <div class="flex">
        <div v-for="(column, index) in columns" :key="index" scope="col" :class="[ui.th.base, ui.th.padding, ui.th.color, ui.th.font, ui.th.size, column.class, 'col']" style="padding: 8px 0px;">
          <slot :name="`${column.key}-header`" :column="column" :sort="sort" :on-sort="onSort">
            <UButton
              v-if="column.sortable"
              v-bind="{ ...ui.default.sortButton, ...sortButton }"
              :icon="(!sort.column || sort.column !== column.key) ? (sortButton?.icon || ui.default.sortButton.icon) : sort.direction === 'asc' ? sortAscIcon : sortDescIcon"
              :label="column[columnAttribute]"
              @click="onSort(column)"
            />
            <span v-else>{{ column[columnAttribute] }}</span>
          </slot>
        </div>
      </div>
    </div>
    <div :class="wrapperClass+' scroll-wrapper'" v-bind="attrs" ref="scroller">
      <table :class="[ui.base, ui.divide]" ref="table">
        <tbody :class="ui.tbody">
          <tr v-if="loadingState && loading">
            <td :colspan="columns.length + (modelValue ? 1 : 0)">
              <slot name="loading-state">
                <div :class="ui.loadingState.wrapper">
                  <UIcon v-if="loadingState.icon" :name="loadingState.icon" :class="ui.loadingState.icon" aria-hidden="true" />
                  <p :class="ui.loadingState.label">
                    {{ loadingState.label }}
                  </p>
                </div>
              </slot>
            </td>
          </tr>

          <tr v-else-if="emptyState && !rows.length">
            <td :colspan="columns.length + (modelValue ? 1 : 0)">
              <slot name="empty-state">
                <div :class="ui.emptyState.wrapper">
                  <UIcon v-if="emptyState.icon" :name="emptyState.icon" :class="ui.emptyState.icon" aria-hidden="true" />
                  <p :class="ui.emptyState.label">
                    {{ emptyState.label }}
                  </p>
                </div>
              </slot>
            </td>
          </tr>

          <template v-else>
            <tr v-for="(row, index) in rows" :key="index" :class="[ui.tr.base, isSelected(row) && ui.tr.selected, $attrs.onSelect && ui.tr.active]" @click="() => onSelect(row)">
              <td v-if="modelValue" :class="ui.checkbox.padding">
                <UCheckbox v-model="selected" :value="row" aria-label="Select row" @click.stop />
              </td>

              <td v-for="(column, subIndex) in columns" :key="subIndex" :class="[ui.td.base, ui.td.padding, ui.td.color, ui.td.font, ui.td.size, 'min-w-[80px]']">
                <slot :name="`${column.key}-data`" :column="column" :row="row" :index="index" :get-row-data="(defaultValue: any) => getRowData(row, column.key, defaultValue)">
                  {{ getRowData(row, column.key) }}
                </slot>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, defineComponent, toRaw } from 'vue'
import type { PropType } from 'vue'
import { upperFirst } from 'scule'
import { defu } from 'defu'
import { twMerge } from 'tailwind-merge'
import { omit, get, defuTwMerge } from '~/composables/useHelpers'
import { useAppConfig } from '#imports'
// TODO: Remove
// @ts-expect-error
import appConfig from '#build/app.config'
import { Button } from '@nuxt/ui/dist/runtime/types/button'

const emit = defineEmits(['update:modelValue'])

const props = defineProps({
  modelValue: {
    type: Array,
    default: null
  },
  by: {
    type: [String, Function],
    default: () => (a: any, z: any) => {
      return a === z
    }
  },
  rows: {
    type: Array as PropType<{ [key: string]: any, click?: Function }[]>,
    default: () => []
  },
  columns: {
    type: Array as PropType<{ key: string, sortable?: boolean, direction?: 'asc' | 'desc', class?: string, [key: string]: any }[]>,
    default: null
  },
  columnAttribute: {
    type: String,
    default: 'label'
  },
  sort: {
    type: Object as PropType<{ column: string, direction: 'asc' | 'desc' }>,
    default: () => ({})
  },
  sortButton: {
    type: Object as PropType<Button>,
    default: () => appConfig.ui.table.default.sortButton
  },
  sortAscIcon: {
    type: String,
    default: () => appConfig.ui.table.default.sortAscIcon
  },
  sortDescIcon: {
    type: String,
    default: () => appConfig.ui.table.default.sortDescIcon
  },
  loading: {
    type: Boolean,
    default: false
  },
  loadingState: {
    type: Object as PropType<{ icon: string, label: string }>,
    default: () => appConfig.ui.table.default.loadingState
  },
  emptyState: {
    type: Object as PropType<{ icon: string, label: string }>,
    default: () => appConfig.ui.table.default.emptyState
  },
  ui: {
    type: Object as PropType<Partial<typeof appConfig.ui.table>>,
    default: () => ({})
  }
})

const ui = computed<Partial<typeof appConfig.ui.table>>(() => defuTwMerge({}, props.ui, appConfig.ui.table))

const wrapperClass = computed(() => twMerge(ui.value.wrapper, attrs.class as string))

const columns = computed(() => props.columns ?? Object.keys(omit(props.rows[0] ?? {}, ['click'])).map((key) => ({ key, label: upperFirst(key), sortable: false })))

const sort = ref(defu({}, props.sort, { column: null, direction: 'asc' }))

const rows = computed(() => {
  if (!sort.value?.column) {
    return props.rows
  }

  const { column, direction } = sort.value

  return props.rows.slice().sort((a, b) => {
    const aValue = a[column]
    const bValue = b[column]

    if (aValue === bValue) {
      return 0
    }

    if (direction === 'asc') {
      return aValue < bValue ? -1 : 1
    } else {
      return aValue > bValue ? -1 : 1
    }
  })
})

const selected = computed({
  get () {
    return props.modelValue
  },
  set (value) {
    emit('update:modelValue', value)
  }
})

const indeterminate = computed(() => selected.value && selected.value.length > 0 && selected.value.length < props.rows.length)

const emptyState = computed(() => {
  if (props.emptyState === null) return null
  return { ...ui.value.default?.emptyState, ...props.emptyState }
})

const loadingState = computed(() => {
  if (props.loadingState === null) return null
  return { ...ui.value.default?.loadingState, ...props.loadingState }
})

function compare (a: any, z: any) {
  if (typeof props.by === 'string') {
    const property = props.by as unknown as any
    return a?.[property] === z?.[property]
  }
  return props.by(a, z)
}

function isSelected (row: any) {
  if (!props.modelValue) {
    return false
  }

  return selected.value.some((item) => compare(toRaw(item), toRaw(row)))
}

function onSort (column: { key: string, direction?: 'asc' | 'desc' }) {
  if (sort.value.column === column.key) {
    const direction = !column.direction || column.direction === 'asc' ? 'desc' : 'asc'

    if (sort.value.direction === direction) {
      sort.value = defu({}, props.sort, { column: null, direction: 'asc' })
    } else {
      sort.value.direction = sort.value.direction === 'asc' ? 'desc' : 'asc'
    }
  } else {
    sort.value = { column: column.key, direction: column.direction || 'asc' }
  }
}

function onSelect (row: any) {
  if (!attrs.onSelect) {
    return
  }

  // @ts-ignore
  attrs.onSelect(row)
}

function selectAllRows () {
  props.rows.forEach((row) => {
    // If the row is already selected, don't select it again
    if (selected.value.some((item) => compare(toRaw(item), toRaw(row)))) {
      return
    }

    // @ts-ignore
    attrs.onSelect ? attrs.onSelect(row) : selected.value.push(row)
  })
}

function onChange (event: any) {
  if (event.target.checked) {
    selectAllRows()
  } else {
    selected.value = []
  }
}

function getRowData (row: Object, rowKey: string | string[], defaultValue: any = 'Failed to get cell value') {
  return get(row, rowKey, defaultValue)
}

const attrs = computed(() => omit(attrs, ['class'])) as any;

const header: Ref<HTMLElement | null> = ref(null)
const table: Ref<HTMLElement | null> = ref(null)
const scroller: Ref<HTMLElement | null> = ref(null)
const headerCols: Ref<HTMLElement[] | null> = ref(null)
const tableCols: Ref<HTMLElement[] | null> = ref(null)

const showScrollIndicator = ref(false)

function updateTableHeader() {
  if (!table.value || !header.value || !scroller.value || !headerCols.value || !tableCols.value) {
    return;
  }
  for (let i = 0; i < headerCols.value.length; i++) {
    const tableColWidth = tableCols.value[i].offsetWidth

    headerCols.value[i].style.width = tableColWidth + 'px'
  }

  header.value.scrollLeft = scroller.value?.scrollLeft || 0
  showScrollIndicator.value = table.value.offsetWidth > scroller.value.offsetWidth
}

onMounted(() => {
  if (!process.client) return
  headerCols.value = header.value?.querySelectorAll('div.col') as unknown as HTMLElement[]
  tableCols.value = table.value?.querySelectorAll('tr:first-of-type td') as unknown as HTMLElement[]
  window.addEventListener('resize', updateTableHeader)
  if (scroller.value != null) {
    scroller.value.addEventListener('scroll', updateTableHeader)
  }
  updateTableHeader();
})

onBeforeUnmount(() => {
  if (!process.client) return

  window.removeEventListener('resize', updateTableHeader)
  if (scroller.value != null) {
    scroller.value.removeEventListener('scroll', updateTableHeader)
  }
})
</script>