<script setup lang="ts">
const props = defineProps({
  module: String,
  columns: {
    type: Array as () =>{
        [key: string]: any;
        key: string;
        sortable?: boolean | undefined;
        direction?: "asc" | "desc" | undefined;
        class?: string | undefined;
    }[],
    required: true
  },
  rows: {
    type: Array as () => {
        [key: string]: any;
        click?: Function | undefined;
    }[],
    required: true
  },
  sort: {
    type: Object as () => {
      column: string;
      direction: 'asc' | 'desc';
    },
    default: () => {
      return { column: 'name', direction: 'asc' }
    }
  }
})

const filter = ref('')
const filteredRows = computed(() => {
  if (!filter.value) {
    return props.rows
  }

  return props.rows.filter((row) => {
    return Object.values(row).some((value) => {
      return String(value).toLowerCase().includes(filter.value.toLowerCase())
    })
  })
})

</script>
<template>
  <UInput v-if="rows.length > 10" v-model="filter" placeholder="Filter..." class="max-w-sm mb-4"/>
  <CTable :columns="columns" :rows="filteredRows" :sort="sort" class="table-auto" :ui="{ base: 'table-auto p-0 m-0', td: { padding: 'px-2 py-2' } }" style="overflow:visible;">
    <template #name-data="{ row }">
      <h3 :id="anchorId(row.name)" class="text-sm" style="padding: 0; margin: 0;">
        <a :href="`#${anchorId(row.name)}`">{{ row.name }}</a>
      </h3>
    </template>
    <template #description-data="{ row }">
      <div class="whitespace-normal" style="overflow-wrap: break-word; min-width: 200px;">
        <MDCRenderer v-if="row.description" tag="div" :body="row.description" :prose="true" />
      </div>
    </template>
    <template #version-data="{ row }">
      <div class="min-w-[80px]">{{ row.displayVersion }}</div>
    </template>
    <template #type-data="{ row }">
      <LuaTypeRefBadge :url="row.typeData.url" :type="row.typeData.type" :id="row.typeData.id" :name="row.typeData.name" />
    </template>
  </CTable>
</template>