<script setup lang="ts">
import type { TocLink } from '@nuxt/content/dist/runtime/types'

const props = defineProps({
  links: {
    type: Array as PropType<TocLink[]>,
    required: true
  }
})

const { tocOverlayShown } = useAppState()

if (process.server) {
  console.log('hash:', useRoute().hash)
}

const tocNavClasses = computed(() => {
  const isOpen = tocOverlayShown.value
  const open = isOpen ? 'right-0' : 'xl:right-0 right-[calc(theme(sideNavWidth)*-1)]'
  return `transition-all motion-reduce:transition-none xl:z-10 z-50 xl:relative fixed top-0 xl:block ${open}`
})

const tocdiv = ref(null)
onClickOutside(tocdiv, (evt) => tocOverlayShown.value = false)

</script>
<template>
  <div :class="`bg-zinc-100 dark:bg-[#1c1b22] border-l dark:border-gray-800 order-3 text-sm ${tocNavClasses}`" ref="tocdiv">
    <div class="flex flex-col md:h-[calc(100dvh_-_theme(headerHeight)_-_1px)] h-[100dvh] xl:w-[calc(theme(tocWidth)_-_14px)] w-[calc(theme(sideNavWidth))] xl:top-[theme(headerHeight)] top-0 p-2 xl:overflow-y-auto overflow-y-visible sticky">
      <div class="xl:hidden block mb-2 text-right" @click="tocOverlayShown=false">
        <UButton icon="i-material-symbols-close-rounded" variant="outline" />
      </div>
      <a href="#" @click="tocOverlayShown=false" class="pb-2 mb-2 font-semibold border-b dark:border-gray-800 text-sm leading-7">
        <UIcon name="i-material-symbols-arrow-upward-alt-rounded" class="align-middle mb-0.5 mr-1" />Back to top
      </a>
      <div class="grow overflow-y-auto pb-10" style="overflow-wrap: anywhere;">
        <TocLinks :links="links" @nav="tocOverlayShown=false" />
      </div>
    </div>
  </div>
</template>