<script setup lang="ts">
import { PropType } from "nuxt/dist/app/compat/capi";
import type { TocLink } from '@nuxt/content/dist/runtime/types'
const emit = defineEmits(['nav'])

const props = defineProps({
  title: String,
  links: {
    type: Array as PropType<TocLink[]>,
    required: true
  },
  depth: {
    type: Number,
    default: 0
  }
})
</script>

<template>
  <div>
    <div v-for="link in links" :class="`px-${depth * 3} pr-0`">
      <a :href="`#${link.id}`" @click="emit('nav')" :class="{
        'pt-1 block ': true,
        'font-bold': depth == 0
        }">
        {{ link.text }}
      </a>
      <TocLinks v-if="link.children" :links="link.children" :depth="depth+1"  @nav="emit('nav')"  class="pb-2" />
    </div>
  </div>
</template>