<script setup lang="ts">
import { getLuaEventArgsPageData } from '~/composables/useLuaContent';

definePageMeta({
  layout: "luaapi",
  documentDriven: false
})

const moduleName = computed(() => paramToString(useRoute().params.module))
const className = computed(() => paramToString(useRoute().params.class))

const nav = await getLuaSideNav()
const { classType, toc } = await getLuaEventArgsPageData(moduleName.value, className.value)
</script>
<template>
  <ContentLayout :toc="toc" :nav="nav">
    <div v-if="classType">
      <LuaClass :class-type="classType" :ctors="false">
        <Alert v-if="classType.usedBy && classType.usedBy.length > 0" title="Info" class="mt-4">
          <p>
            For more information about events, see the <NuxtLink to="/scripting/getting-started/events" >Using Events</NuxtLink>
            section of the scripting docs.
          </p>
        </Alert>
           <div class="pt-4">
              This event args class is used by the following events:<br />
              <div class="flex gap-2 flex-wrap pt-2">
                <LuaTypeRefBadge v-for="evt in classType.usedBy" :url="evt.url" :name="`${evt.parentName}.${evt.name}`" :type="evt.type" :id="evt.id" :parent-type="classType.type" />
              </div>
            </div>
      </LuaClass>
    </div>
    <DocumentDrivenNotFound v-else />
  </ContentLayout>
</template>