<script setup lang="ts">
import { UseElementVisibility } from '@vueuse/components';
import { LuaClassDTO } from '~/server/models/dto/LuaClassDTO';

const props = defineProps({
  classType: {
    type: Object as PropType<LuaClassDTO>,
    required: true
  },
  ctors: {
    type: Boolean,
    default: true
  }
})
</script>
<template>
  <h1 class="p-0 m-0 pb-4">{{ classType.name }}</h1>
  <LuaTypeBadges :type="classType"></LuaTypeBadges>
  <div v-if="classType.baseTypes && classType.baseTypes.length > 0" class="flex items-center flex-wrap pt-2">
    <span>Inherits from </span>
    <div v-for="(baseType, i) of classType.baseTypes" class="flex items-center">
      <UIcon name="i-ph-arrow-right" class="mx-1" />
      <LuaTypeRefBadge :id="baseType.id" :name="baseType.name" :type="baseType.type" :url="baseType.url" />
    </div>
  </div>

  <Alert v-if="classType.id.startsWith('T:System')" type="tip" class="mt-2">
    This is a builtin dotnet type. The documentation and api interface are generated from <a href="https://github.com/dotnet" target="_external">dotnet source files</a>.
  </Alert>

  <MDCRenderer v-if="classType.description" class="pt-2" tag="div" :body="classType.description" :prose="true" />
  
  <slot></slot>

  <template v-if="classType.fields && classType.fields.length > 0">
    <h2 id="fields" class="p-0 mb-4"><a href="#fields">Fields:</a></h2>
    <template v-for="field in classType.fields" :key="field.id">
      <LuaField :field="field" />
    </template>
  </template>

  <template v-if="classType.events && classType.events.length > 0">
    <h2 id="events" class="p-0 mb-4"><a href="#events">Events:</a></h2>
    <template v-if="classType.events" v-for="event in classType.events">
      <LuaEvent :event="event" />
    </template>
  </template>

  <template v-if="ctors && classType.constructors && classType.constructors.length > 0">
    <h2 id="constructors" class="p-0 mb-4"><a href="#constructors">Constructors:</a></h2>
    <template v-if="classType.constructors" v-for="constructor in classType.constructors">
      <LuaMethod :method="constructor" :class-type="classType" />
    </template>
  </template>

  <template v-if="classType.methods && classType.methods.length > 0">
    <h2 id="methods" class="p-0 mb-4"><a href="#methods">Methods:</a></h2>
    <template v-if="classType.methods" v-for="(method, i) in classType.methods">
      <UseElementVisibility v-slot="{ isVisible }">
        <LuaMethod :method="method" :class-type="classType" :visible="isVisible || i < 5" />
      </UseElementVisibility>
    </template>
  </template>
</template>

<style>

</style>