<script setup lang="ts">
import { PropType } from 'nuxt/dist/app/compat/capi';
import { LuaBaseTypeDTO } from '~/server/models/dto/LuaBaseTypeDTO';
import { LuaEventDTO } from '~/server/models/dto/LuaEventDTO';

const props = defineProps({
  event: {
    type: Object as PropType<LuaEventDTO>,
    required: true
  },
  classType: {
    type: Object as PropType<LuaBaseTypeDTO>
  },
  modal: Boolean
})
</script>

<template>
  <div class="mb-8">
    <ProseH3 :id="anchorId(event.name)" class="font-mono dark:bg-gray-800 bg-gray-200 p-0 m-0" style="word-wrap: anywhere;">
      {{ ((modal) ? `${event?.parent?.name}.` : '') }}{{ event.name }}
      <LuaTypeRefBadge v-if="event.typeRef" :type="event.typeRef.type" :id="event.typeRef.id" :name="event.typeRef.name" :url="event.typeRef.url" />
    </ProseH3>
    <div class="text-sm my-4">
      <LuaTypeBadges :type="event" :show-type="modal" :show-module="modal" :show-source="modal" :parent="event.parent" :show-parent="modal">
      </LuaTypeBadges>
      <MDCRenderer v-if="event.description" tag="div" :body="event.description" :prose="true" />
    </div>
  </div>
</template>

<style scoped>
h3 {
  padding: 4px 0 2px 8px !important;
  font-size: 15px;
}

</style>