<script setup lang="ts">
import { PropType } from 'nuxt/dist/app/compat/capi';
import { LuaBaseTypeDTO } from '~/server/models/dto/LuaBaseTypeDTO';
import { LuaFieldDTO } from '~/server/models/dto/LuaFieldDTO';

const props = defineProps({
  field: {
    type: Object as PropType<LuaFieldDTO>,
    required: true
  },
  classType: {
    type: Object as PropType<LuaBaseTypeDTO>
  },
  modal: Boolean
})
</script>

<template>
  <div class="mb-8">
    <ProseH3 :id="anchorId(field.name)" class="font-mono dark:bg-gray-800 bg-gray-200 p-0 m-0 pr-2" style="word-wrap: anywhere;">
      {{ ((modal) ? `${field?.parent?.name}.` : '') }}{{ field.name }}
      <LuaTypeRefBadge :type="field.typeRef.type" :id="field.typeRef.id" :name="field.typeRef.name" :url="field.typeRef.url" />
    </ProseH3>
    <div class="text-sm my-4">
      <LuaTypeBadges :type="field" :show-type="modal" :show-module="modal" :show-source="modal" :parent="field.parent" :show-parent="modal">
      </LuaTypeBadges>
      <div v-if="false">
          Inherited from
      </div>
      <MDCRenderer v-if="field.description" tag="div" :body="field.description" :prose="true" />
    </div>
  </div>
</template>

<style scoped>
h3 {
  padding: 4px 0 2px 8px !important;
  font-size: 15px;
}

h3 .badge, .small-badges .badge {
  padding: 1px 6px !important;
}
</style>