<script setup lang="ts">
import { LuaBaseTypeDTO } from '~/server/models/dto/LuaBaseTypeDTO'
import { anchorId } from "~/composables/useHelpers"

const props = defineProps({
  name: {
    type: String,
    required: true
  },
  globals: {
    type: Object as PropType<{ [name: string]: LuaBaseTypeDTO }>
  },
  module: {
    type: String,
    required: true
  }
})

const rows = computed(() => {
  return props.globals ? Object.keys(props.globals).map(gKey => {
    const type = props.globals![gKey]
    return {
      name: type.name,
      version: `${padVersion(type.version)}`,
      displayVersion: type.version,
      type: type.name,
      typeData: type,
      description: type.summary
    }
  }) : undefined
})

const columns = [{
  key: 'name',
  label: 'Name',
  sortable: true
}, {
  key: 'version',
  label: 'Added In',
  sortable: true
}, {
  key: 'type',
  label: 'Type'
}, {
  key: 'description',
  label: 'Description'
}]
</script>

<template>
  <div v-if="rows && Object.keys(rows).length > 0">
    <ProseH2 :id="name.toLowerCase()">{{ name }}:</ProseH2>
    <InteractiveTable :columns="columns" :rows="rows" :module="module" />
  </div>
</template>