<script setup lang="ts">
import { PropType } from 'nuxt/dist/app/compat/capi'
import { LuaMethodDTO } from '~/server/models/dto/LuaMethodDTO'
import { LuaConstructorDTO } from '~/server/models/dto/LuaConstructorDTO'
import { LuaBaseTypeDTO } from '~/server/models/dto/LuaBaseTypeDTO' 

const props = defineProps({
  method: {
    type: Object as PropType<LuaMethodDTO | LuaConstructorDTO>,
    required: true
  },
  classType: {
    type: Object as PropType<LuaBaseTypeDTO>
  },
  visible: {
    type: Boolean,
    default: true
  },
  modal: Boolean
})

const name = computed(() => props.method.name.split('(')[0] )

const wasEverVisible = ref(false)
const isVisible = computed(() => props.visible || wasEverVisible.value)

watch(() => props.visible, () => {
  wasEverVisible.value = props.visible || wasEverVisible.value
})

const calculatedHeight = computed(() => {
  let h = 32 + 32 // badges + padding + margin-bottom
  if (props.method.parameters.length > 0) {
    h += 28 // parameters header
    h += 74 // table header stuff
    h += props.method.parameters.length * 36
  }

  if (props.method.returns.length == 1) {
    h += 30 // returns header
  }
  else if (props.method.returns.length > 1) {
    h += 28 // returns header
    h += 74 // table header stuff
    h += props.method.returns.length * 36
  }
  return `${h}px`
})

const fastname = props.method.name + ' ' + props.method.parameters.map(p => p.name + ' ' + p.typeRef.name).join(' , ') 

</script>

<template>
  <div class="method" v-if="!isVisible">
    <h3 :id="anchorId(method.name)" class="font-mono dark:bg-gray-800 bg-gray-200 p-0 m-0 font-normal" style="word-wrap: anywhere;">
      {{ fastname }}
    </h3>
    <USkeleton class="w-full" :style="{ height: calculatedHeight }" />
  </div>
  <div v-else class="mb-8 method">
    <h3 :id="anchorId(method.name)" class="font-mono dark:bg-gray-800 bg-gray-200 p-0 m-0 font-normal" style="word-wrap: anywhere;">
      <a :href="`#${anchorId(method.name)}`" class="method">{{ ((modal) ? `${method?.parent?.name}.` : '') }}{{ name }}</a>
      <span>(</span>
      <template v-for="(parameter, i) of method.parameters">
        <span class="pname">{{ parameter.name }}</span>
        <span class="nullable">{{ parameter.hasDefault || parameter.typeRef.isNullable ? '?' : '' }}</span>:
        <LuaTypeRefBadge :type="parameter.typeRef.type" :url="parameter.typeRef.url" :id="parameter.typeRef.id" :name="parameter.typeRef.name" :children="parameter.typeRef.typeArgs" />
        <template v-if="parameter.hasDefault">
          <span> = {{ parameter.defaultValue ? parameter.defaultValue : 'nil' }}</span>
        </template>
        <span>{{ (i != method.parameters.length - 1 ? ', ' : '') }}</span>
      </template>
      <span>) : </span>
      <template v-if="method.returns">
        <template v-for="(parameter, i) of method.returns">
          <LuaTypeRefBadge :type="parameter.typeRef.type" :url="parameter.typeRef.url" :id="parameter.typeRef.id" :name="parameter.typeRef.name" />
          <span>{{ (i != method.returns.length - 1 ? ', ' : '') }}</span>
        </template>
      </template>
    </h3>
    <div class="text-sm my-4">
      <LuaTypeBadges :type="method" :show-type="modal" :show-module="modal" :show-source="modal" :parent="method.parent" :show-parent="modal">
        <UPopover v-if="method.isBlocking" mode="hover">
          <UBadge variant="outline" color="rose">blocking</UBadge>
          <template #panel>
            <span class="p-1 px-2 inline-block text-xs">Calling this method blocks the current chunk execution until the async action is completed</span>
          </template>
        </UPopover>
      </LuaTypeBadges>
      <div v-if="false" class="pb-2">
          Inherited from
      </div>
      <MDCRenderer v-if="method.description" tag="div" :body="method.description" :prose="true" />
      <template v-if="method.parameters.length > 0">
        <span class="font-bold block pb-2">Parameters:</span>
        <ProseTable class="pl-4 small-badges">
          <ProseThead>
            <ProseTr class="font-bold dark:bg-zinc-800 bg-gray-100">
              <ProseTd>Name</ProseTd>
              <ProseTd>Type</ProseTd>
              <ProseTd>Default</ProseTd>
              <ProseTd class="min-w-[200px]">Summary</ProseTd>
            </ProseTr>
          </ProseThead>
          <ProseTbody>
            <ProseTr v-for="(parameter, i) in method.parameters">
              <ProseTd class="whitespace-nowrap">
                {{ parameter.name }}
              </ProseTd>
              <ProseTd class="whitespace-nowrap">
                <LuaTypeRefBadge :type="parameter.typeRef.type" :url="parameter.typeRef.url" :id="parameter.typeRef.id" :name="parameter.typeRef.name" :children="parameter.typeRef.typeArgs" />
              </ProseTd>
              <ProseTd>
                {{ parameter.hasDefault ? (typeof(parameter.defaultValue) == 'undefined' ? 'nil' : parameter.defaultValue) : '' }}
              </ProseTd>
              <ProseTd>
                <MDCRenderer v-if="parameter.description" tag="div" :body="parameter.description" :prose="true" />
              </ProseTd>
            </ProseTr>
          </ProseTbody>
        </ProseTable>
      </template>
      <div v-if="method.returns && method.returns.length > 0">
        <span :class="`${method.returns.length <= 1 ? 'inline-block' : 'block'} font-bold pb-2 pr-2`">Returns:</span>
        <span v-if="method.returns.length == 0">
          <LuaTypeRefBadge />
        </span>
        <span v-else-if="method.returns.length == 1">
          <LuaTypeRefBadge :type="method.returns[0].typeRef.type" :url="method.returns[0].typeRef.url" :id="method.returns[0].typeRef.id" :name="method.returns[0].typeRef.name" />
        </span>
        <ProseTable v-else class="pl-4 small-badges">
          <ProseThead>
            <ProseTr class="font-bold dark:bg-zinc-800 bg-gray-100">
              <ProseTd>Type</ProseTd>
              <ProseTd class="min-w-[200px]">Summary</ProseTd>
            </ProseTr>
          </ProseThead>
          <ProseTbody>
            <ProseTr v-for="ret in method.returns">
              <ProseTd class="whitespace-nowrap">
                <LuaTypeRefBadge :type="ret.typeRef.type" :url="ret.typeRef.url" :id="ret.typeRef.id" :name="ret.typeRef.name" />
              </ProseTd>
              <ProseTd>
                <MDCRenderer v-if="ret.description" tag="div" :body="ret.description" :prose="true" />
              </ProseTd>
            </ProseTr>
          </ProseTbody>
        </ProseTable>
      </div>
    </div>
  </div>
</template>

<style>
.method {
  h3 {
    padding: 4px 0 2px 8px !important;
    font-size: 15px;
  }

  h3 .badge, .small-badges .badge {
    padding: 1px 6px !important;
  }

  .pname {
    @apply dark:text-primary-300 text-primary-600;
  }
}
</style>