<script setup lang="ts">
import { PropType } from 'nuxt/dist/app/compat/capi';
import { isBuiltinType } from '~/composables/useLuaHelpers'
import { LuaBaseTypeDTO } from '~/server/models/dto/LuaBaseTypeDTO';
import { LuaClassDTO } from '~/server/models/dto/LuaClassDTO';
import { LuaConstructorDTO } from '~/server/models/dto/LuaConstructorDTO';
import { LuaEnumDTO } from '~/server/models/dto/LuaEnumDTO';
import { LuaEnumFieldDTO } from '~/server/models/dto/LuaEnumFieldDTO';
import { LuaEventDTO } from '~/server/models/dto/LuaEventDTO';
import { LuaFieldDTO } from '~/server/models/dto/LuaFieldDTO';
import { LuaMethodDTO } from '~/server/models/dto/LuaMethodDTO';
import { LuaAPIType } from '~/server/models/LuaAPIType';

const props = defineProps({
  member: {
    type: Object as PropType<LuaMethodDTO | LuaEventDTO | LuaFieldDTO | LuaEnumFieldDTO | LuaConstructorDTO>,
    required: true
  },
  parent: {
    type: Object as PropType<LuaEnumDTO | LuaClassDTO | LuaBaseTypeDTO>,
    required: true
  }
})

const isClass = computed(() => props.parent.type == LuaAPIType.Class)

</script>

<template>
  <template v-if="props.parent.type == LuaAPIType.Class">
    {{ parent.name }}.{{ member.name }} {{ JSON.stringify(member) }}
  </template>
  <template v-else>
    {{ parent.name }}.{{ member.name }} aa
  </template>
</template>