<script setup lang="ts">
import { LuaAPIType } from '~/server/models/LuaAPIType';
import { LuaBaseTypeDTO } from '~/server/models/dto/LuaBaseTypeDTO';

const props = defineProps({
  type: {
    type: Object as () => LuaBaseTypeDTO,
    required: true
  },
  parent: {
    type: Object as () => LuaBaseTypeDTO
  },
  showType: {
    type: Boolean,
    default: true
  },
  showParent: {
    type: Boolean,
    default: true
  },
  showModule: {
    type: Boolean,
    default: true
  },
  showPopups: {
    type: Boolean,
    default: true
  },
  showSource: {
    type: Boolean,
    default: true
  }
})
</script>

<template>
  <div class="flex items-center flex-wrap gap-2 mb-2 whitespace-nowrap">
    <UBadge v-if="showType" variant="outline" :class="getBadgeColor(type.type)">{{ type.type }}</UBadge>
    <LuaTypeRefBadge v-if="showParent && parent" :id="parent.id" :name="parent.name" :url="parent.url" :type="parent.type" :popup="showPopups" />
    <LuaTypeRefBadge v-if="showModule && type.type != LuaAPIType.Module" :id="type.module" :name="type.module" :url="`/lua/modules/${type.module}`" :type="LuaAPIType.Module" :popup="showPopups" />
    <slot></slot>
    <UBadge v-if="'isStatic' in type && type.isStatic" variant="outline" color="orange">static</UBadge>
    <UBadge v-if="'isReadOnly' in type && type.isReadOnly" variant="outline" color="orange">read only</UBadge>
    
    <UTooltip mode="hover" v-if="type.version" class="flex" :text="`Introduced in ${type.version}`">
      <UButton variant="outline" color="primary" size="2xs">{{ type.version.slice(1)+'+' }}</UButton>
    </UTooltip>
    <NuxtLink v-if="showSource && type.source" :to="type.source" target="_blank" class="flex no-underline">
      <UButton variant="outline" size="2xs" class="ring-zinc-700 dark:ring-zinc-400 text-zinc-700 dark:text-zinc-400">
        View Source
        <UIcon v-if="type.source.includes('gitlab.com')" name="i-ph-gitlab-logo" class="w-4 h-4" /> 
        <UIcon v-else name="i-ph-github-logo" class="w-4 h-4" /> 
      </UButton>
    </NuxtLink>
  </div>
</template>