<script setup lang="ts">
import { NavItem } from '@nuxt/content/dist/runtime/types'
const { navigation } = useContent()

const tree = computed(() => {
  const path = useRoute().path.split('/')
  const sectionPath = path.splice(0, 2).join('/')
  return (navigation.value as NavItem[]).find(n => n._path.startsWith(sectionPath))
})
</script>
<template>
  <div>
    <Header />
    <PageLoadingIndicator :duration="2000" :throttle="200" :height="3" class="z-[1000] fixed top-[theme(headerHeight)] left-0 w-screen" style="opacity:1;top: 42px;" />
    <BodyLayout>
      <template v-slot:sidenav>
        <BodyNav v-if="tree && tree.children && tree.children.length" :root="tree" />
      </template>
      <slot></slot>
    </BodyLayout>
  </div>
</template>