<script setup lang="ts">
import { NavItem, TocLink } from '@nuxt/content/dist/runtime/types';
import { LuaModulePartialDTO } from '~/server/models/dto/LuaModulePartialDTO';

const nav = await getLuaSideNav()
</script>

<template>
  <div>
    <Header />
    <PageLoadingIndicator :duration="2000" :throttle="200" :height="3" class="z-[1000] fixed top-[theme(headerHeight)] left-0 w-screen" style="opacity:1;top: 42px;" />
    <BodyLayout>
      <template v-slot:sidenav>
        <BodyNav :root="nav" :expanded="false" />
      </template>
      <slot></slot>
    </BodyLayout>
  </div>
</template>