<script setup lang="ts">
import { _textOpacity } from '#tailwind-config/theme';
import { NavItem } from '@nuxt/content/dist/runtime/types'

definePageMeta({
  layout: 'content',
  documentDriven: true
})
const { page, prev, next, navigation } = useContent()

const tree = computed(() => {
  const path = useRoute().path.split('/')
  const sectionPath = path.splice(0, 2).join('/')
  return (navigation.value as NavItem[]).find(n => n._path.startsWith(sectionPath)) || { title: 'test' } as NavItem
})

const toc = computed(() => {
  const { page } = useContent()
  return page.value?.body?.toc?.links
})
const hasToc = computed(() => toc.value && toc.value?.length > 0)
</script>
<template>
  <ContentLayout :toc="toc" :nav="tree">
        <ContentRenderer v-if="page" :value="page">
          <template #empty>
            <p>No content found.</p>
          </template>
          <ContentRendererMarkdown :value="page" />
          <div class="surround flex md:flex-row flex-col my-5 no-underline">
            <div class="prev my-3">
              <NuxtLink v-if="prev && prev.title && !prev._partial" :to="prev._path">
                <UButton :name="prev.title" class="flex w-full" variant="outline">
                  <UIcon name="i-material-symbols-arrow-back-ios-rounded" />
                  <span class="grow">{{ prev.title }}</span>
                </UButton>
              </NuxtLink>
            </div>
            <div class="grow"></div>
            <div class="next my-3">
              <NuxtLink v-if="next && next.title && !next._partial" :to="next._path">
                <UButton :name="next.title" class="flex w-full" variant="outline">
                  <span class="grow">{{ next.title }}</span>
                  <UIcon name="i-material-symbols-arrow-forward-ios-rounded" />
                </UButton>
              </NuxtLink>
            </div>
          </div>
        </ContentRenderer>
        <div v-else>
          <h1>Page Not Found</h1>
        </div>
  </ContentLayout>
</template>