<script setup lang="ts">
import { getLuaEnumPageData } from '~/composables/useLuaContent';

definePageMeta({
  layout: "luaapi",
  documentDriven: false
})

const moduleName = computed(() => paramToString(useRoute().params.module))
const enumName = computed(() => paramToString(useRoute().params.enum))

const nav = await getLuaSideNav()
const { enumType, toc } = await getLuaEnumPageData(moduleName.value, enumName.value)

const fields = computed(() => {
  return (enumType.value?.fields || []).map(f => {
    return {
      name: f.name,
      value: enumType.value?.isFlags ? toHexString(f.value) : f.value,
      version: `${padVersion(f.version)}`,
      displayVersion: f.version,
      description: f.description
    }
  })
})

const fieldColumns = [{
  key: 'name',
  label: 'Name',
  sortable: true
}, {
  key: 'value',
  label: 'Value',
  sortable: true
}, {
  key: 'version',
  label: 'Added In',
  sortable: true
}, {
  key: 'description',
  label: 'Description'
}]

</script>
<template>
  <ContentLayout :toc="toc" :nav="nav">
    <div v-if="enumType">
      <h1 class="p-0 m-0 pb-4">{{ enumType.name }}</h1>
      <LuaTypeBadges :type="enumType">
        <UBadge v-if="enumType.isFlags" variant="outline" color="green">flags</UBadge>
      </LuaTypeBadges>

      <Alert v-if="enumType.id.startsWith('T:System')" type="tip">
        This is a builtin dotnet type. The documentation and api interface are generated from <a href="https://github.com/dotnet" target="_external">dotnet source files</a>.
      </Alert>

      <MDCRenderer v-if="enumType.description || enumType.summary" tag="div" class="pt-2" :body="enumType.description || enumType.summary" :prose="true" />

      <h2 id="fields" class="p-0 mb-4">Fields:</h2>
      <InteractiveTable :columns="fieldColumns" :rows="fields"  :sort="{ column: 'name', direction: 'asc' }" />
    </div>
    <DocumentDrivenNotFound v-else />
  </ContentLayout>
</template>

<style>

</style>