<script setup lang="ts">
const props = defineProps({
  title: {
    type: String,
    default: ''
  },
  type: {
    type: String,
    default: 'info'
  }
})

const styleMap : any = {
  'info': 'tip'
}

const styles: any = {
  'tip': {
    icon: 'i-material-symbols-lightbulb-outline-rounded',
    class: 'ring-blue-500 dark:ring-blue-400',
    color: 'blue'
  },
  'warning': {
    icon: 'i-material-symbols-error-outline-rounded',
    class: 'ring-amber-500 dark:ring-amber-400',
    color: 'amber'
  },
  'error': {
    icon: 'i-material-symbols-error-outline-rounded',
    class: 'ring-red-500 dark:ring-red-400',
    color: 'red'
  },
  'critical': {
    icon: 'i-material-symbols-error-outline-rounded',
    class: 'ring-red-500 dark:ring-red-400',
    color: 'red'
  }
}

const styleName = computed(() => {
  let name = props.type
  if (styleMap[name]) {
    name = styleMap[props.type]
  }
  return styles[name] ? name : 'tip'
})
const style = computed(() => styles[styleName.value])
const title = computed(() => props.title || styleName.value.slice(0,1).toUpperCase() + styleName.value.slice(1))

</script>

<template>
  <div class="not-prose">
    <UAlert :title="title" :color="style.color" :icon="style.icon" variant="subtle" :ui="{ description: 'leading-5 mt-1' }" class="z-10">
      <template v-slot:description>
        <ContentSlot unwrap="p"></ContentSlot>
      </template>
    </UAlert>
  </div>
</template>