<script setup lang="ts">
import { LuaAPIType } from '~/server/models/LuaAPIType'
import { LuaChildTypeDTO } from '~/server/models/dto/LuaChildTypeDTO';
import { LuaEnumFieldDTO } from '~/server/models/dto/LuaEnumFieldDTO'
import { LuaEventDTO } from '~/server/models/dto/LuaEventDTO';
import { LuaFieldDTO } from '~/server/models/dto/LuaFieldDTO';
import { LuaMethodDTO } from '~/server/models/dto/LuaMethodDTO';

const props = defineProps({
  id: {
    type: String
  },
  name: {
    type: String
  },
  type: {
    type: String
  },
  url: {
    type: String
  },
  popup: {
    type: Boolean,
    default: true
  },
  children: {
    type: Array as PropType<any[]>
  },
  returns: {
    type: Array as PropType<any[]>
  },
})

const { types } = useLuaAPIState()

const loading = ref(false)
const triedLoad = ref(false)
const error = ref("")

const typeData = computed(() => {
  const id = props.id
  if (id && types.value[id]) {
    return types.value[id]
  }
  else if (id && !loading.value && !triedLoad.value) {
    loading.value = true
    triedLoad.value = true
    useFetch(`/api/lua/types/${(id).toLowerCase()}`)
      .then((res) => {
        loading.value = false
        if (res.data.value) {
          types.value[id] = res.data.value
        }
        else {
          error.value = `Unable to find type: ${id}`
        }
      })
      .catch((e) => {
        error.value = `Unable to find type: ${id}`
        loading.value = false
      })
  }
})

// inline-flex

const inferredType = computed(() => props.type ? props.type : LuaAPIType.BuiltIn)

</script>
<template>
  <template v-if="!id">
    <UBadge variant="outline" :class="getBadgeColor(undefined)+' p-1 px-2'">
      nil
    </UBadge>
  </template>
  <template v-else-if="inferredType == LuaAPIType.Function">
    <span class="fun">fun(</span>
    <template v-if="children && children.length" v-for="(childProps, i) of children">
      <LuaTypeRefBadge v-bind="childProps" />{{ (i != children.length - 1 ? ', ' : '') }}
    </template>
    <span class="fun">) : </span>
    <LuaTypeRefBadge v-bind="returns" />
  </template>
  <template v-else-if="inferredType != LuaAPIType.BuiltIn">
    <ClientOnly>
      <template #fallback>
        <NuxtLink :to="url" class="no-underline text-sm inline-flex">
          <UBadge variant="outline" :class="getBadgeColor(inferredType)+' p-1 px-2'">
            {{ name }}
          </UBadge>
        </NuxtLink>
      </template>
      <UPopover mode="hover" class="inline-flex dark:text-gray-100 text-gray-800">
        <NuxtLink :to="url" class="no-underline text-sm inline-flex">
          <UBadge variant="outline" :class="getBadgeColor(inferredType)+' p-1 px-2'">
            {{ name }}
          </UBadge>
        </NuxtLink>
        <template #panel>
          <div v-if="typeData" class="px-2 max-w-2xl modal">
            <template v-if="typeData.type == LuaAPIType.Field">
              <LuaField :modal="true" :classType="(typeData as LuaFieldDTO).parent" :field="(typeData as LuaFieldDTO)" />
            </template>
            <template v-else-if="typeData.type == LuaAPIType.Event">
              <LuaEvent :modal="true" :classType="(typeData as LuaEventDTO).parent" :event="(typeData as LuaEventDTO)" />
            </template>
            <template v-else-if="typeData.type == LuaAPIType.Method">
              <LuaMethod :modal="true" :classType="(typeData as LuaMethodDTO).parent" :method="(typeData as LuaMethodDTO)" />
            </template>
            <div v-else class="max-w-md font-sans font-normal">
              <div class="flex items-center gap-4 m-2 font-bold text-sm">
                {{ name }}
              </div>
              <hr class="m-0 p-0" />
              <div class="p-2 text-xs whitespace-normal">
                <template v-if="loading || error">
                  {{ (loading ? 'loading' : error) }}
                </template>
                <LuaTypeBadges v-if="typeData" :type="typeData" :parent="(typeData as LuaChildTypeDTO).parent" :show-popups="false" class="p-0 m-0"/>
                <MDCRenderer v-if="typeData?.summary" tag="div" :body="typeData.summary" :prose="true" />
                <template v-else>
                  todo...
                </template>
              </div>
            </div>
          </div>
          <div v-else class="max-w-md font-sans font-normal">
            <div class="flex items-center gap-4 m-2 font-bold text-sm">
              {{ name }}
            </div>
            <hr class="m-0 p-0" />
            <div class="p-2 text-xs whitespace-normal">
              {{ (loading ? 'loading' : error) }}
            </div>
          </div>
        </template>
      </UPopover>
    </ClientOnly>
  </template>
  <template v-else>
    <UBadge variant="outline" :class="getBadgeColor(inferredType)+' p-0.5 px-2'">
      {{ name || id }}
    </UBadge>
  </template>
</template>

<style scoped>
.fun {
  @apply dark:text-gray-400 text-gray-500;
}
</style>